In [1]:
import pandas as pd
import os
import psycopg2
from dotenv import load_dotenv
from psycopg2.extras import execute_values

In [2]:
df = pd.read_csv('/home/ivancampos/Documents/Programming Stuff/AtomicLocks/Data Science/Data/League_teams.csv')

In [3]:
df

,TeamId,AreaId,AreaName,Key,Name,ShortName,Active
0,100000001,107.0,Korea Republic,AF,afreeca Freecs,afreeca Freecs,True
1,100000002,107.0,Korea Republic,BBQ,bbq OLIVERS,bbq OLIVERS,True
2,100000003,107.0,Korea Republic,JAG,Jin Air Green Wings,Jin Air GW,True
3,100000004,107.0,Korea Republic,KDM,Kongdoo Monster,Kongdoo,True
4,100000005,107.0,Korea Republic,KT,kt Rolster,kt Rolster,True
...,...,...,...,...,...,...,...
225,100000465,176.0,Spain,UCA,UCAM Esports,UCAM Esports,True
226,100000466,156.0,Portugal,WD,White Dragons,White Dragons,True
227,100000467,216.0,Serbia,Z10,Z10 ESHARK,Z10 ESHARK,True
228,100000480,35.0,Brazil,NMG,Netshoes Miner,Netshoes Miner,True
229,100000481,49.0,China PR,ULP,Ultra Prime,Ultra Prime,True

In [4]:
df.isnull().sum().sum()

3

In [5]:
df['AreaId'].fillna(0,inplace=True)
df.fillna('?',inplace=True)

In [6]:
df.to_csv('League_teams.csv')
df = pd.read_csv('/home/ivancampos/Documents/Programming Stuff/AtomicLocks/Data Science/notebooks/League_teams.csv')

In [7]:
create_LCS_teams_table = """
DROP TABLE IF EXISTS lcs_teams;
CREATE TABLE lcs_teams (
  ID INT,
  TeamID INT,
  AreaID FLOAT,
  AreaName VARCHAR,
  Key VARCHAR,
  Name VARCHAR,
  ShortName VARCHAR,
  Active BOOLEAN
)
"""

In [2]:
load_dotenv("/home/ivancampos/Documents/Programming Stuff/AtomicLocks/Data Science/Data/.env")

DB_NAME = os.getenv('DB_NAME')
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")

In [83]:
conn = psycopg2.connect(
            dbname= DB_NAME, user=DB_USER, password=DB_PASSWORD, host=DB_HOST, port=DB_PORT)

cur = conn.cursor()

In [10]:
cur.execute(create_LCS_teams_table)
conn.commit()

In [11]:
row = ''
insert_lcs_teams = """
INSERT INTO lcs_players 
(ID,TeamId,AreaId,AreaName,Key,Name,ShortName,Active)
VALUES""" + str(tuple(row)) + ";"

In [12]:
execute_values(cur, """
    INSERT INTO lcs_teams
    (ID,TeamId,AreaId,AreaName,Key,Name,ShortName,Active)
    VALUES %s;
    """, [tuple(row) for row in df.values])

conn.commit()

In [7]:
cur.close()
conn.close()

In [84]:
team_stuff_list = ['id', 'TeamId', 'AreaId', 'AreaName',
                       'Key', 'Name', 'ShortName', 'Active']
id_team = '100000481'

query = """
        SELECT * FROM lcs_teams
        WHERE TeamId =""" + id_team + ";"
cur.execute(query)
result = cur.fetchall()
conn.close()
li = []
for i in result:
    for j in i:
        li.append(j)

final_team_info = dict(zip(team_stuff_list, li))

In [85]:
final_team_info

{'id': 229,
 'TeamId': 100000481,
 'AreaId': 49.0,
 'AreaName': 'China PR',
 'Key': 'ULP',
 'Name': 'Ultra Prime',
 'ShortName': 'Ultra Prime',
 'Active': True}

In [81]:
li = []
for i in result:
    for j in i:
        li.append(j)

In [82]:
li

[229, 100000481, 49.0, 'China PR', 'ULP', 'Ultra Prime', 'Ultra Prime', True]

In [38]:
final_team_info

{'id': (229,
  100000481,
  49.0,
  'China PR',
  'ULP',
  'Ultra Prime',
  'Ultra Prime',
  True)}